@import 'tailwindcss';

@theme {
	--color-killua-500: #0024ff;
	--font-satoshi: 'Satoshi', sans-serif;
	--font-lemurmure: 'LeMurmure', sans-serif;
}

@font-face {
	font-family: Satoshi;
	font-display: swap;
	src: url('src/assets/fonts/Satoshi-Regular.woff2') format('woff2');
}

@font-face {
	font-family: lemurmure;
	font-display: swap;
	src: url('src/assets/fonts/LeMurmure-Regular.woff2') format('woff2');
}
