---
import NeatGradient from "../components/NeatGradient.astro";
import "../styles/global.css";
import Logo from "./Logo.astro";
---
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Ejemplo NeatGradient</title>
  </head>
  <body>
    <main class="p-8">
      <NeatGradient />
      <Logo />
      <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex justify-center items-center flex-col gap-8 text-center">
        <h1 class="text-9xl font-lemurmure">Bienvenido a mi portofolio</h1>
        <h2 class="text-2xl font-satoshi">Donde el diseño y el código se unen para crear cosas únicas</h2>
      </div>
    </main>
  </body>
</html>
